html, body, textarea {
  color: #fff;
  background-color: #001; }

.mybutton, .tab, .cntbar {
  border-color: #334; }

.mybutton:hover, .tab:hover, .mywindow, .popup, .dialog {
  background-color: #112; }

.mybutton.enable, .tab.enable, .cntbar {
  background-color: #08f; }

#gray {
  background-color: #fff; }

.times:hover, .click:hover, textarea {
  background-color: #334; }

.click {
  color: #58f; }
  .click:hover {
    background-color: #223; }

.mywindow, .popup, .dialog {
  border-color: #334; }

.table {
  border: 0;
  padding: 5px; }
  .table td, .table th {
    border: 0;
    padding: 5px; }

textarea, .tabValue {
  border-color: #334; }

#avgstr .click:hover {
  background-color: #223; }

select {
  color: #fff;
  border-color: #334;
  background: #001; }

input[type='button'], input[type='text'] {
  color: #fff;
  background: #001;
  border-color: #334; }
input:disabled {
  background: #223; }

html {
  font-family: "Helvetica Neue"; }

body, #leftbar {
  border: 0;
  padding-top: 30px;
  background-color: #001;
  border-color: #223;
  color: #fff; }

#scrambleDiv, #stats, #toolsDiv {
  box-shadow: none;
  border: 0; }

.mywindow, .popup, .dialog, #leftbar {
  box-shadow: none; }

table.sumtable {
  border-style: none; }

div.myscroll {
  margin-top: 30px;
  height: 100%; }

input:disabled {
  background: #495962; }

#lcd {
  font-family: "Helvetica Neue";
  font-weight: 300;
  font-size: 80%; }

#avgstr {
  font-family: "Helvetica Neue";
  font-weight: 300;
  font-size: 0.1em; }

#logo {
  display: none; }

#leftbar {
  height: 6.75em; }

.mybutton {
  border: 0;
  font-family: "Helvetica Neue"; }
  .mybutton.enable span {
    color: #fff; }

#leftbar div.c1, #leftbar div.c2, #leftbar div.c3, #leftbar div.c4, #leftbar div.c5, #leftbar div.c6 {
  display: inline-block;
  left: auto;
  bottom: auto;
  right: auto;
  top: auto;
  position: static;
  width: auto;
  padding: 0 10px;
  color: #58f; }
  #leftbar div.c1 span, #leftbar div.c2 span, #leftbar div.c3 span, #leftbar div.c4 span, #leftbar div.c5 span, #leftbar div.c6 span {
    font-family: "Helvetica Neue";
    font-size: 15px; }
  #leftbar div.c1 br, #leftbar div.c2 br, #leftbar div.c3 br, #leftbar div.c4 br, #leftbar div.c5 br, #leftbar div.c6 br {
    display: none; }
#leftbar div.c5, #leftbar div.c3, #leftbar div.c4 {
  display: none; }

#stats {
  font-family: "Helvetica Neue";
  top: 5.5em;
  margin-top: 30px;
  font-size: 17px;
  padding-top: 30px;
  background-color: transparent;
  color: #495962;
  transition: 0.1s linear color; }
  #stats:hover {
    color: #94a6b0;
    transition: 0.1s linear color; }
  #stats .click, #stats select, #stats [type='button'] {
    display: none; }

#scrambleDiv {
  background-color: transparent; }
  #scrambleDiv .title {
    padding-top: 20px; }
  #scrambleDiv select {
    padding: 6px 12px;
    color: #495962;
    border: 1px solid #495962;
    font-weight: bold;
    margin-right: 10px;
    font-size: 15px; }
  #scrambleDiv nobr {
    font-family: "Helvetica Neue";
    font-size: 15px;
    color: #495962; }
    #scrambleDiv nobr span {
      padding: 5px 10px; }

#scrambleTxt {
  font-size: 24px !important;
  font-family: "Source Code Pro", "Monaco";
  padding: 30px 0;
  color: #778d9a; }

#toolsDiv {
  font-family: "Helvetica Neue";
  padding: 0 20px 20px 10px;
  border-radius: 10px 0 0;
  color: #5f747f;
  display: table; }
  #toolsDiv br {
    display: none; }
  #toolsDiv div {
    display: table-cell;
    vertical-align: bottom;
    font-size: 16px;
    padding: 10px; }
    #toolsDiv div div {
      font-family: "Helvetica Neue";
      font-size: 18px;
      line-height: 2; }
      #toolsDiv div div br {
        display: block; }
  #toolsDiv select {
    font-size: 13px;
    background-color: transparent;
    padding: 6px 8px;
    border: 1px solid #495962; }

.popup {
  border: 0;
  padding: 10px 20px 0;
  font-family: "Helvetica Neue";
  line-height: 2;
  font-size: 14px;
  color: transparent;
  text-align: left; }
  .popup [type='button'] {
    background-color: #ff0;
    color: #fff;
    margin-left: 10px;
    padding: 5px 9px;
    font-weight: bold;
    margin-bottom: 10px;
    border-radius: 50px; }
  .popup input[type='text'] {
    display: none; }
  .popup span:first-child {
    color: #fff; }
  .popup .click {
    background-color: #495962;
    padding: 5px 10px;
    color: #fff;
    border-radius: 3px;
    display: auto; }

/*# sourceMappingURL=styles.css.map */
